<odoo>
    <data>
        <record id="project_management_action" model="ir.actions.act_window">
            <field name="name">Projects</field>
            <field name="res_model">project.management</field>
            <field name="view_mode">kanban,tree,form</field>
            <field name="help" type="html">
                <p>
                    Create and manage your projects here.
                </p>
            </field>
        </record>

        <menuitem id="project_management_menu" name="Project Management" sequence="10"/>
        <menuitem id="project_management_submenu" name="Projects" parent="project_management_menu" action="project_management_action" sequence="10"/>
    </data> 
</odoo>
